<div class="row">
    <div class="col-lg-8">
        <div class="information-content-tour">
            <div class="description-wrap mb-40">               
                    @Html.Raw(Model.Description)
            </div>
            <div class="description-wrap mb-40">
                <span class="description">Advance Facilities</span>
                <p class="des">
                    Leave your guidebooks at home and dive into the
                    local cultures that make each destination so special. We’ll
                    connect you with our exclusive experiences. Each trip is
                    carefully crafted to let enjoy your vacation.
                </p>
            </div>
            <div class="expect-wrap mb-70">
                <h4 class="title mb-18">What to Expect</h4>
                <div class="expect flex-three">
                    <span>Departure/Return Location</span>
                    <p>2 Taijichang St, Dongcheng Qu, Beijing Shi, China</p>
                </div>
                <div class="expect flex-three">
                    <span>Departure Time</span>
                    <p>Please arrive by 9:15 AM for a departure at 9:30 AM</p>
                </div>
                <div class="expect flex-three">
                    <span>Return Time</span>
                    <p>Approximately 8:30 PM</p>
                </div>
                <div class="expect flex-three">
                    <span>Return Time</span>
                    <p>Approximately 8:30 PM</p>
                </div>
                <div class="expect flex-three">
                    <span>Return Time</span>
                    <p>Approximately 8:30 PM</p>
                </div>
            </div>
            <div class="expect-wrap mb-70">
                <h4 class="title mb-40">Included/Exclude</h4>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="listing-clude">
                            <li class="flex-three">
                                <i class="icon-Vector-7"></i>
                                <p>Pick and Drop Services</p>
                            </li>
                            <li class="flex-three">
                                <i class="icon-Vector-7"></i>
                                <p>1 Meal Per Day</p>
                            </li>
                            <li class="flex-three">
                                <i class="icon-Vector-7"></i>
                                <p>Cruise Dinner & Music Event</p>
                            </li>
                            <li class="flex-three">
                                <i class="icon-Vector-7"></i>
                                <p>
                                    Visit 7 Best Places in the City With Group
                                </p>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-6">
                        <ul class="listing-clude">
                            <li class="flex-three">
                                <i class="icon-Vector-7"></i>
                                <p>Pick and Drop Services</p>
                            </li>
                            <li class="flex-three">
                                <i class="icon-Vector-7"></i>
                                <p>1 Meal Per Day</p>
                            </li>
                            <li class="flex-three">
                                <i class="icon-Vector-7"></i>
                                <p>Cruise Dinner & Music Event</p>
                            </li>
                            <li class="flex-three">
                                <i class="icon-Vector-7"></i>
                                <p>
                                    Visit 7 Best Places in the City With Group
                                </p>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
            <div class="expect-wrap">
                <h4 class="title mb-40">Tour Amenities</h4>
                <div class="row">
                    <div class="col-md-4">
                        <ul class="listing-icon">
                            <li class="flex-three">
                                <i class="icon-10"></i>
                                <p>Air Conditioning</p>
                            </li>
                            <li class="flex-three">
                                <i class="icon-10"></i>
                                <p>Microwave</p>
                            </li>
                            <li class="flex-three">
                                <i class="icon-10"></i>
                                <p>Central Heating</p>
                            </li>
                            <li class="flex-three">
                                <i class="icon-10"></i>
                                <p>Central Heating</p>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-4">
                        <ul class="listing-icon">
                            <li class="flex-three">
                                <i class="icon-10"></i>
                                <p>Laundry</p>
                            </li>
                            <li class="flex-three">
                                <i class="icon-10"></i>
                                <p>Outdoor Shower</p>
                            </li>
                            <li class="flex-three">
                                <i class="icon-10"></i>
                                <p>Swimming Pool</p>
                            </li>
                            <li class="flex-three">
                                <i class="icon-10"></i>
                                <p>Wifi</p>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-4">
                        <ul class="listing-icon">
                            <li class="flex-three">
                                <i class="icon-10"></i>
                                <p>Window Covering</p>
                            </li>
                            <li class="flex-three">
                                <i class="icon-10"></i>
                                <p>Refrigerator</p>
                            </li>
                            <li class="flex-three">
                                <i class="icon-10"></i>
                                <p>Alarm System</p>
                            </li>
                            <li class="flex-three">
                                <i class="icon-10"></i>
                                <p>Window Coverings</p>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="side-bar-right">
            <div class="sidebar-widget">
                <h6 class="block-heading">Book With Confidence</h6>
                <ul class="category-confidence">
                    <li class="flex-three">
                        <i class="icon-customer-service-1"></i>
                        <span>Customer care available 24/7</span>
                    </li>
                    <li class="flex-three">
                        <i class="icon-Vector-6"></i>
                        <span>Hand-picked Tours & Activities</span>
                    </li>
                    <li class="flex-three">
                        <i class="icon-insurance-1"></i>
                        <span>Free Travel Insureance</span>
                    </li>
                    <li class="flex-three">
                        <i class="icon-price-tag-1-1"></i>
                        <span>No-hassle best price guarantee</span>
                    </li>
                </ul>
            </div>
            @await Component.InvokeAsync("_TourDetailLast3TourComponentPartial", new { tourId = Model.TourId })
        </div>
    </div>
</div>