@model List<ResultTourDto>

<div class="sidebar-widget">
    <h4 class="block-heading">Son Eklenen Turlar</h4>
    <div class="recent-post-list">
        @foreach (var x in Model)
        {
            <div class="list-recent flex-three">
                <a href="/Tour/TourDetails/@x.TourId" class="recent-image">
                    <img src="@x.CoverImageUrl"
                         alt="Image">
                </a>
                <div class="recent-info">
                    <div class="start">
                        @x.Badge
                    </div>
                    <h4 class="title">
                        <a href="/Tour/TourDetails/@x.TourId">
                            @x.Title
                        </a>
                    </h4>
                    <p><span class="text-main">@x.Price ₺ </span>'dan başlayan fiyatlarla</p>
                </div>
            </div>
        }
    </div>
</div>








@* <div class="sidebar-widget">
    
    <div class="recent-post-list">
        <div class="list-recent flex-three">
            <a href="blog-details.html" class="recent-image">
                <img src="./assets/images/blog/re-blog1.jpg"
                     alt="Image">
            </a>
            <div class="recent-info">
                <div class="start">
                    <i class="icon-Star"></i>
                    <i class="icon-Star"></i>
                    <i class="icon-Star"></i>
                    <i class="icon-Star"></i>
                    <i class="icon-Star"></i>
                </div>
                <h4 class="title">
                    <a href="blog-details.html">
                        Walking the Amalfi
                        Coast
                    </a>
                </h4>
                <p>From <span class="text-main">$129.00</span></p>
            </div>
        </div>
        <div class="list-recent flex-three">
            <a href="blog-details.html" class="recent-image">
                <img src="./assets/images/blog/re-blog2.jpg"
                     alt="Image">
            </a>
            <div class="recent-info">
                <div class="start">
                    <i class="icon-Star"></i>
                    <i class="icon-Star"></i>
                    <i class="icon-Star"></i>
                    <i class="icon-Star"></i>
                    <i class="icon-Star"></i>
                </div>
                <h4 class="title">
                    <a href="blog-details.html">
                        Walking the Amalfi
                        Coast
                    </a>
                </h4>
                <p>From <span class="text-main">$129.00</span></p>
            </div>
        </div>
        <div class="list-recent flex-three">
            <a href="blog-details.html" class="recent-image">
                <img src="./assets/images/blog/re-blog3.jpg"
                     alt="Image">
            </a>
            <div class="recent-info">
                <div class="start">
                    <i class="icon-Star"></i>
                    <i class="icon-Star"></i>
                    <i class="icon-Star"></i>
                    <i class="icon-Star"></i>
                    <i class="icon-Star"></i>
                </div>
                <h4 class="title">
                    <a href="blog-details.html">
                        Walking the Amalfi
                        Coast
                    </a>
                </h4>
                <p>From <span class="text-main">$129.00</span></p>
            </div>
        </div>
    </div>
</div> *@

