@model GetTourByIdDto
@{
    Layout = null;
    var coverImageUrl = string.IsNullOrWhiteSpace(Model?.CoverImageUrl)
        ? "https://images.unsplash.com/photo-1469474968028-56623f02e42e?auto=format&fit=crop&w=2400&q=80"
        : Model.CoverImageUrl;
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

@await Component.InvokeAsync("_TourHeadComponentPartial")

<body class="body header-fixed wrapper-style">
    <div class="preload preload-container">
        <svg class="pl" width="240" height="240" viewBox="0 0 240 240">
            <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
        </svg>
    </div>

    <!-- /preload -->

    <div id="wrapper">
        <div id="pagee" class="clearfix">


            @await Component.InvokeAsync("_TourHeaderComponentPartial")

            <main id="main">
                <section>
                    <div class="tf-container full">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="@coverImageUrl" alt="@Model.Title" style="width:100%;height:431px;object-fit:cover;display:block;">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="tour-single" style="background-color:#ffffff !important;">
                    <div class="tf-container">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="nav justify-content-between tab-tour-single" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="pills-information-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-information" type="button" role="tab"
                                                aria-controls="pills-information" aria-selected="true">
                                            <i class="icon-Vector-51"></i> Information
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-tour-planing-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-tour-planing" type="button" role="tab"
                                                aria-controls="pills-tour-planing" aria-selected="false">
                                            <i class="icon-destination-2-1"></i> Tour Planing
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-location-share-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-location-share" type="button" role="tab"
                                                aria-controls="pills-location-share" aria-selected="false">
                                            <i class="icon-map-1"></i> Location share
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-reviews-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-reviews" type="button" role="tab"
                                                aria-controls="pills-reviews" aria-selected="false">
                                            <i class="icon-favourite-1"></i> Reviews
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-shot-gallery-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-shot-gallery" type="button" role="tab"
                                                aria-controls="pills-shot-gallery" aria-selected="false">
                                            <i class="icon-image-gallery-1"></i> Shot Gallery
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row pd-main">
                            <div class="col-lg-12">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-information" role="tabpanel"
                                         aria-labelledby="pills-information-tab" tabindex="0">

                                        @await Component.InvokeAsync("_TourDetailInformationComponentPartial", new { tourId = Model.TourId })

                                        @await Component.InvokeAsync("_TourDetailDestinationSmallGalleryComponentPartial", new { tourId = Model.TourId })

                                        @await Component.InvokeAsync("_TourDetailsDescriptionAreaComponentPartial", new { tourId = Model.TourId })


                                    </div>

                                    @await Component.InvokeAsync("_TourDetailTourPlaningComponentPartial", new { tourId = Model.TourId })


                                    @await Component.InvokeAsync("_TourDetailLocationShareComponentPartial", new { tourId = Model.TourId })

                                    <div class="tab-pane fade" id="pills-reviews" role="tabpanel"
                                         aria-labelledby="pills-reviews-tab" tabindex="0">
                                        <div class="row">
                                            @await Component.InvokeAsync("_TourDetailReviewsComponentPartial", new { tourId = Model.TourId })

                                            <div class="col-lg-4">
                                                <div class="side-bar-right">
                                                    <div class="sidebar-widget">
                                                        <h6 class="block-heading">Gonul Rahatligiyla Rezervasyon Yapin</h6>
                                                        <ul class="category-confidence">
                                                            <li class="flex-three">
                                                                <i class="icon-customer-service-1"></i>
                                                                <span>7/24 musteri destegi</span>
                                                            </li>
                                                            <li class="flex-three">
                                                                <i class="icon-Vector-6"></i>
                                                                <span>Ozenle secilmis tur ve aktiviteler</span>
                                                            </li>
                                                            <li class="flex-three">
                                                                <i class="icon-insurance-1"></i>
                                                                <span>Ucretsiz seyahat sigortasi</span>
                                                            </li>
                                                            <li class="flex-three">
                                                                <i class="icon-price-tag-1-1"></i>
                                                                <span>Sorunsuz en iyi fiyat garantisi</span>
                                                            </li>
                                                        </ul>
                                                        <a href="#" class="btn-main" style="margin-top: 24px; width: 100%; text-align: center;">Randevu Al</a>
                                                    </div>                                                    
                                                    @await Component.InvokeAsync("_TourDetailLast3TourComponentPartial")
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="pills-shot-gallery" role="tabpanel"
                                         aria-labelledby="pills-shot-gallery-tab" tabindex="0">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                @await Component.InvokeAsync("_TourDetailShotGalleryComponentPartial", new { tourId = Model.TourId })
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="side-bar-right">
                                                    <div class="sidebar-widget">
                                                        <h6 class="block-heading">Gonul Rahatligiyla Rezervasyon Yapin</h6>
                                                        <ul class="category-confidence">
                                                            <li class="flex-three">
                                                                <i class="icon-customer-service-1"></i>
                                                                <span>7/24 musteri destegi</span>
                                                            </li>
                                                            <li class="flex-three">
                                                                <i class="icon-Vector-6"></i>
                                                                <span>Ozenle secilmis tur ve aktiviteler</span>
                                                            </li>
                                                            <li class="flex-three">
                                                                <i class="icon-insurance-1"></i>
                                                                <span>Ucretsiz seyahat sigortasi</span>
                                                            </li>
                                                            <li class="flex-three">
                                                                <i class="icon-price-tag-1-1"></i>
                                                                <span>Sorunsuz en iyi fiyat garantisi</span>
                                                            </li>
                                                        </ul>
                                                        <a href="#" class="btn-main" style="margin-top: 24px; width: 100%; text-align: center;">Randevu Al</a>
                                                    </div>
                                                    @await Component.InvokeAsync("_TourDetailLast3TourComponentPartial", new { tourId = Model.TourId })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>


                <section class="mb--93">
                    <div class="tf-container">
                        <div class="callt-to-action flex-two z-index3 relative">
                            <div class="callt-to-action-content flex-three">
                                <div class="image">
                                    <img src="./assets/images/page/ready.png" alt="Image">
                                </div>
                                <div class="content">
                                    <h2 class="title-call">Ready to adventure and enjoy natural</h2>
                                    <p class="des">Lorem ipsum dolor sit amet, consectetur notted adipisicin</p>
                                </div>
                            </div>
                            <img src="./assets/images/page/vector4.png" alt="" class="shape-ab">
                            <div class="callt-to-action-button">
                                <a href="#" class="get-call">Let,s get started</a>
                            </div>
                        </div>
                    </div>

                </section>

            </main>

            @await Component.InvokeAsync("_TourFooterComponentPartial")

            <!-- Bottom -->
        </div>
        <!-- /#page -->
    </div>

    <!-- Modal Popup Bid -->

    <a id="scroll-top" class="button-go"></a>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight">
        <div class="offcanvas-header">13
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="logo-canvas">
                <img src="./assets/images/logo.png" alt="image">
            </div>
            <p class="des">
                The world’s first and largest digital market
                for crypto collectibles and non-fungible
            </p>
            <ul class="canvas-info">
                <li class="flex-three">
                    <i class="icon-noun-mail-5780740-1"></i>
                    <p>Info@webmail.com</p>
                </li>
                <li class="flex-three">
                    <i class="icon-Group-9"></i>
                    <p>684 555-0102 490</p>
                </li>
                <li class="flex-three">
                    <i class="icon-Layer-19"></i>
                    <p>6391 Elgin St. Celina, NYC 10299</p>
                </li>
            </ul>
            <ul class="social flex-three">
                <li>
                    <a href="#">
                        <i class="icon-icon-2"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-x"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-8"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-6"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <!-- Javascript -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var tabButtons = Array.from(document.querySelectorAll('#pills-tab [data-bs-toggle="pill"]'));
            var tabPanes = Array.from(document.querySelectorAll('#pills-tabContent > .tab-pane'));

            if (!tabButtons.length || !tabPanes.length) {
                return;
            }

            function activateTab(targetSelector) {
                tabButtons.forEach(function (button) {
                    var isActive = button.getAttribute('data-bs-target') === targetSelector;
                    button.classList.toggle('active', isActive);
                    button.setAttribute('aria-selected', isActive ? 'true' : 'false');
                });

                tabPanes.forEach(function (pane) {
                    var isActive = ('#' + pane.id) === targetSelector;
                    pane.classList.toggle('show', isActive);
                    pane.classList.toggle('active', isActive);
                });
            }

            tabButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var targetSelector = button.getAttribute('data-bs-target');
                    if (targetSelector) {
                        activateTab(targetSelector);
                    }
                });
            });

            var activeButton = tabButtons.find(function (button) {
                return button.classList.contains('active');
            });

            activateTab(activeButton ? activeButton.getAttribute('data-bs-target') : '#pills-information');
        });
    </script>
    @await Component.InvokeAsync("_TourScriptsComponentPartial")

</body>

</html>




