<!-- Widget Select Form -->
<div class="mt--82 z-index3 relative">
    <div class="tf-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="search-form-widget-slider relative">
                    <form action="/" id="search-form-slider">
                        <div class="flex wd-search">

                            <!-- 1. Tur Ara -->
                            <div class="form-group flex">
                                <i class="icon-18"></i>
                                <div class="search-bar-group">
                                    <label>Tur Ara</label>
                                    <input type="text" id="tourSearchInput" name="tour-search" placeholder="Tur adı veya şehir...">
                                </div>
                            </div>

                            <!-- 2. Süre -->
                            <div class="form-group flex">
                                <i class="icon-hiking-1-1"></i>
                                <div class="search-bar-group">
                                    <label>Süre</label>
                                    <div class="nice-select" tabindex="0">
                                        <span class="current">Tüm Süreler</span>
                                        <ul class="list">
                                            <li data-value="" class="option selected">Tüm Süreler</li>
                                            <li data-value="1-3" class="option">1 – 3 Gece</li>
                                            <li data-value="4-7" class="option">4 – 7 Gece</li>
                                            <li data-value="8-14" class="option">8 – 14 Gece</li>
                                            <li data-value="15+" class="option">15+ Gece</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- 3. Fiyat -->
                            <div class="form-group flex">
                                <i class="icon-14"></i>
                                <div class="search-bar-group">
                                    <label>Fiyat</label>
                                    <div class="nice-select" tabindex="0">
                                        <span class="current">Fiyata Göre</span>
                                        <ul class="list">
                                            <li data-value="" class="option selected">Fiyata Göre</li>
                                            <li data-value="asc" class="option">En Düşük Önce</li>
                                            <li data-value="desc" class="option">En Yüksek Önce</li>
                                            <li data-value="0-5000" class="option">₺0 – ₺5.000</li>
                                            <li data-value="5000-15000" class="option">₺5.000 – ₺15.000</li>
                                            <li data-value="15000-30000" class="option">₺15.000 – ₺30.000</li>
                                            <li data-value="30000+" class="option">₺30.000 ve üzeri</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- 4. Ara Butonu -->
                            <div class="form-group flex-two" style="flex:1;min-width:0;">
                                <a href="#" class="btn-search" style="width:100%;display:flex;align-items:center;justify-content:center;gap:6px;"><i class="icon-Vector5"></i>Ara</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Widget Select Form -->

<script>
    $(function () {
        /* TOURS dizisini ViewBag ile dinamik yapabilirsin:
           var TOURS = @Html.Raw(Json.Serialize(ViewBag.TourNames));
        */
        var TOURS = [
            'İstanbul Kültür Turu', 'Kapadokya Balon Turu', 'Ege Mavi Yolculuk',
            'Pamukkale & Efes', 'Trabzon & Rize Yaylaları', 'Antalya Kültür Turu',
            'Bozcaada & Gökçeada', 'Safranbolu Tarihi Turu', 'Nemrut Dağı Turu',
            'Mardin & Midyat Turu'
        ];

        $("#tourSearchInput").autocomplete({
            source: function (req, res) {
                var q = req.term.toLowerCase();
                res(TOURS.filter(function (t) {
                    return t.toLowerCase().indexOf(q) > -1;
                }));
            },
            minLength: 1,
            select: function (event, ui) {
                $(this).val(ui.item.value);
                return false;
            }
        });
    });
</script>