@model List<ResultGalleryDto>

<div class="row mb-40 image-gallery-single">
    @foreach(var item in Model)
    {
        <div class="col-4">
            <img src="@item.ImageUrl" alt="image" class="w-100" style="height:200px;object-fit:cover;border-radius:8px;">
        </div>
    }
</div>