@* @model List<ResultGalleryDto>

@foreach(var item in Model){}
<div class="row mb-40 image-gallery-single">
    <div class="col-6 col-sm-3">
        <img src="@item.ImageUrl" alt="image">
    </div>
</div>
} *@